<% provide(:title, 'About') %>

<div class="user-forms">

	<div id="about">

        <div class="close-nav">
                <%= link_to_function(image_tag(asset_path("icon_close.svg")), "history.back()") %>
        </div>

		<div class="center about-info">

        	<div class="how-it-works">

	        	<h1>How it works</h1>

	        	<h3>
        			Sterotonic is a community of music fanatics dedicated to unearthing the most awesome tracks from across the web.
        		</h3>

		       		<div class="left">
		       			<%= image_tag(asset_path("about_collect.svg"), size:"75x75", class:"about_collect") %>
		       			<h3>
		       				Collect
		       			</h3>
		       			<p>
		       				Add that awesome track you discovered to your Stereotonic collection and broadcast it to your followers 
		       			</p>

		  
		       			 
		       		</div>

		       		<div class="left">
		       			<%= image_tag(asset_path("about_search.svg"), size:"75x75", class:"about_discover") %>   
		       			<h3>
		       				Discover
		       			</h3>
		       			
		       			<p>
		       				Follow your favourite Stereotonic users and discover the latest tracks they've uncovered
		       			</p>

		       			

		       		</div>

		       		<div class="left">
		       			<%= image_tag(asset_path("about_listen.svg"), size:"75x75", class:"about_listen") %> 
		       			<h3>
		       				Listen
		       			</h3>
		       			
		       			<p>
		       				Your Stereotonic Channel will play the amazing tracks discovered and broadcast by the people you follow  
		       			</p>

		       			 

		       		</div>

		       	</div>	
		</div>
	</div>
</div>