<% provide(:title, 'Home') %>

<div class="center home-hero">

	<nav>
	   	<ul class="nav nav-pills pull-left">
	       	<li><%= link_to "Home", root_path %></li> 	
	    </ul>
	   		 
	 <% if signed_in? %>
	    <ul class="nav nav-pills pull-right">
	       	 <li id="fat-menu" class="dropdown">
    	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
             <ul class="dropdown-menu pull-right">
                <li><%= link_to "Profile", user_show_path(current_user.name) %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li>
                  <%= link_to "Log Out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>	
		    </ul>
	   	<% end %>	 

	</nav>

	<h1>TapeDeckHero.</h1>
	
	<p>Feature Your Song of the Day</p>	
		
</div>

<div class="container feature">

	<div class="episode">

		

	</div>

	<div class="episode">

		

	</div>

</div>


