<% provide(:title, 'Home') %>

<div class="center hero-unit">

	<h1>TapeDeckHero.</h1>
	
	<p>Feature Your Song of the Day</p>	
		
</div>

<div class="container feature">

	<div class="episode">

		

	</div>

	<div class="episode">

		

	</div>

</div>


