<div class="unlike-button">
	<%= form_for(current_user.likes.find_by(post_id: @nowplaying.id), html: { method: :delete , :id => "new_unlike_on_#{@nowplaying.id}"}, remote:true) do |f| %>
  		<%= f.submit "Liked" %>
	<% end %>
</div>	