<!--
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Login", '#' %></li>
          </ul>
        </nav>
    </div>
  </header>
-->  